# Base de datos Neon (PostgreSQL)
# Obtén estas credenciales en: https://neon.tech
DATABASE_URL="postgresql://usuario:contraseña@ep-xxx.us-east-2.aws.neon.tech/barbershop?sslmode=require"
DIRECT_URL="postgresql://usuario:contraseña@ep-xxx.us-east-2.aws.neon.tech/barbershop?sslmode=require"

# Para desarrollo local (SQLite)
# DATABASE_URL="file:./dev.db"
